*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    padding-left:20px;
    padding:20px;
    color:white;
    font-size: 60px;
    text-align:left;
    text-indent: 75px;
}
p{
    margin:80px;
    padding-left: 20px;
    color:rgb(243, 245, 247);
    font-size: 20px;
    text-transform:none;
    text-align: left;
}
p{
    margin: 80px;
    padding-left: 15px;
    text-align:left;
    color:aliceblue;
    font-size: 20px;
}
.parent{
    width:100%;
    height:78%;
}

.son{
    height:100%;
    background-color: rgb(8, 54, 41);
    width:50%;
    float:left;
    padding-top: 5%;
    padding-bottom: 5%;
   
}
.daughter{
    width:50%;
    float:right;
}
img{
    width:100%;
    height: 710px;
    display: flex;
}

.submit {
    display: block;
    margin-top: 30px;
    margin-left: 95px;
    padding: 10px;
    border-radius: 30px;
    background-color:yellow;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
